body {
    font-family: sans-serif;
    margin: 0;
    background: #0e1630 !important;
}

body .navbar {
    background-color: #0e1630;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-brand,
.navbar-nav li a {
    color: #fff !important;
}

.navabar .nav .dropdown-menu {
    border-radius: 10px;
    padding: 5px;
    background: #fff;
}

.dropdown-menu li a {
    color: #000 !important;
}

.dropdown-menu li a:hover {
    background-color: #ddd;
}

.navbar-brand {
    font-size: 24px;
}

.navbar-toggle {
    margin: 8px 0;
}

.form-inline {
    display: flex;
}

.nav {
    display: flex;
    align-items: center;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-right {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.navbar li i {
    font-size: large;
}

.navbar .nav-item a {
    font-size: large;
}

.navbar .navbar-brand {
    font-size: x-large;
}

@media (max-width: 767px) {
    .navbar-nav {
        flex-direction: column;
    }

    .dropdown-menu li a {
        color: #fff !important;
    }
}

.toast {
    opacity: 1 !important;
}

header {
    text-align: center;
    color: #fff;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.order {
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
}

.order-header {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #555;
}

.order-details {
    margin-top: 20px;
}

.product {
    display: flex;
    margin-bottom: 15px;
}

.product img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 4px;
}

.product-info {
    flex-grow: 1;
}

.product-info h3 {
    margin: 0;
    color: #333;
}

.order-total {
    margin-top: 20px;
    text-align: right;
}

.order-total h3 {
    color: #333;
}