body {
    font-family: sans-serif;
    margin: 0;
    background: #0e1630 !important;
}

body .navbar {
    background-color: #0e1630;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-brand,
.navbar-nav li a {
    color: #fff !important;
}

.navabar .nav .dropdown-menu {
    border-radius: 10px;
    padding: 5px;
    background: #fff;
}

.dropdown-menu li a {
    color: #000 !important;
}

.dropdown-menu li a:hover {
    background-color: #ddd;
}

.navbar-brand {
    font-size: 24px;
}

.navbar-toggle {
    margin: 8px 0;
}

.form-inline {
    display: flex;
}

.nav {
    display: flex;
    align-items: center;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-right {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.navbar li i {
    font-size: large;
}

.navbar .nav-item a {
    font-size: large;
}

.navbar .navbar-brand {
    font-size: x-large;
}

@media (max-width: 767px) {
    .navbar-nav {
        flex-direction: column;
    }

    .dropdown-menu li a {
        color: #fff !important;
    }
}

.toast {
    opacity: 1 !important;
}

header {
    text-align: center;
    color: #fff;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    border-radius: 8px;
}

.filter {
    float: right;
}

label {
    display: block;
    margin-top: 20px;
    font-size: large;
    font-weight: bold;
    color: #fff;
}

select {
    padding: 5px 20px 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    appearance: none;
    background-color: white;
    background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z" fill="black"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-repeat: no-repeat;
    background-position: right center;
}

.no-orders-message {
    text-align: center;
    margin-top: 20px;
    color: #fff;
    display: none;
}

.no-orders-message.active {
    display: block;
}

.container .orders {
    max-width: 100%;
    margin: 60px auto;
    border-radius: 8px;
}

.order {
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
}

.order-header {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #555;
}

.order-details {
    margin-top: 20px;
}

.product {
    display: flex;
    margin-bottom: 15px;
}

.product img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 4px;
}

.product-info {
    flex-grow: 1;
}

.product-info h3 {
    margin: 0;
    color: #333;
}

.order-total {
    margin-top: 20px;
    text-align: right;
}

.order-total h3 {
    color: #333;
}

.cancel-order-btn {
    background: #d81f1f;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    border: none;
}

.cancel-order-btn:hover {
    background: #bb1212;
}

.empty-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    max-width: 600px;
}

.no-order {
    margin: 20px auto;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.no-order h1 {
    color: #333;
}

.no-order p {
    color: #777;
}

.no-order img {
    max-width: 300px;
    border-radius: 5px;
    /* margin-bottom: 10px; */
    margin: 0 auto;

}